services:
  _defaults:
    autowire: true
    autoconfigure: true

  con4gis\TravelCostsBundle\Controller\TravelCostsController:
    class: con4gis\TravelCostsBundle\Controller\TravelCostsController
    autowire: true
    public: true
    arguments:
      - "@doctrine.orm.entity_manager"
      - "@event_dispatcher"
      - "@contao.framework"

  ## migrations
  con4gis\TravelCostsBundle\Migration\UpdateArraysMigration:
    arguments:
      - "@database_connection"
      - "@logger"
    tags:
      - { name: contao.migration, priority: 0 }